force-app/main/default/flows/WSM_SCR_TOOL_Clean_Flow_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_PreSelectedFlows</name>
        <label>Create PreSelectedFlows</label>
        <locationX>197</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>COLL_FlowRecords_PreSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>INC_FlowRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Flow_To_Clean</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Out_Active_Version</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Active Version</label>
        <locationX>172</locationX>
        <locationY>888</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Active_Version</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Flow_Version</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Active_Version.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Flow_Versions</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Which_Function_Selected</name>
        <label>Which Function Selected?</label>
        <locationX>439</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clean_flow_versions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttons_lwc.OutputSelectedButtonString</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Flow Versions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Flows</targetReference>
            </connector>
            <label>Clean flow versions</label>
        </rules>
        <rules>
            <name>Clean_Flow_Interviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttons_lwc.OutputSelectedButtonString</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Interviews</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Flow_Interviews</targetReference>
            </connector>
            <label>Clean Flow Interviews</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WSM - SCR - TOOL: Clean Flow Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - SCR - TOOL: Clean Flow Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Selected_Rows</name>
        <label>Delete Selected Rows</label>
        <locationX>172</locationX>
        <locationY>1156</locationY>
        <inputReference>select_flow_version_data.selectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Selected_Rows_0</name>
        <label>Delete Selected Rows</label>
        <locationX>602</locationX>
        <locationY>716</locationY>
        <inputReference>select_flow_interview_data.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>All_Flow_Interviews</name>
        <label>All Flow Interviews</label>
        <locationX>562</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Flow_Interviews</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowInterview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>All_Flows</name>
        <label>All Flows</label>
        <locationX>306</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PreSelectedFlows</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>WSM</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApiName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>WSM</stringValue>
            </value>
        </filters>
        <filters>
            <field>FlowLabel</field>
            <operator>Contains</operator>
            <value>
                <stringValue>wsm</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApiName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>wsm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowRecord</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Flow_Version</name>
        <label>Flow Version</label>
        <locationX>173</locationX>
        <locationY>778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Out_Active_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>select_flow_data.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowRecordVersion</object>
        <sortField>VersionNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Flow_Versions</name>
        <label>Select Flow Versions</label>
        <locationX>171</locationX>
        <locationY>1041</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Selected_Rows</targetReference>
        </connector>
        <fields>
            <name>select_flow_version_data</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FlowRecordVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Flow Versions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Flow_Version</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;VersionNumber&quot;,&quot;guid&quot;:&quot;column-e54c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Version Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4bac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Flow Version Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-3692&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-20a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Filter_Out_Active_Version</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_Function</name>
        <label>What Function?</label>
        <locationX>454</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Function_Selected</targetReference>
        </connector>
        <fields>
            <name>buttons_lwc</name>
            <extensionName>c:wsmFlowPillOptions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>InputOptions</name>
                <value>
                    <stringValue>Clean Flow Versions,Clean Interviews</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateOnClick2</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OutputSelectedButtonString</name>
                <value>
                    <elementReference>selected_function_txt</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Which_Flow_Interviews</name>
        <label>Which Flow Interviews?</label>
        <locationX>587</locationX>
        <locationY>581</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Selected_Rows_0</targetReference>
        </connector>
        <fields>
            <name>select_flow_interview_data</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FlowInterview</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>All_Flow_Interviews</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;InterviewLabel&quot;,&quot;guid&quot;:&quot;column-3f20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Interview Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CurrentDefinitionDeveloperName&quot;,&quot;guid&quot;:&quot;column-87fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Current Flow API Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Error&quot;,&quot;guid&quot;:&quot;column-8fb5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Error&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Which_Flow_To_Clean</name>
        <label>Which Flow?</label>
        <locationX>175</locationX>
        <locationY>662</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flow_Version</targetReference>
        </connector>
        <fields>
            <name>select_flow_data</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FlowRecord</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>All_Flows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FlowLabel&quot;,&quot;guid&quot;:&quot;column-e1f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Flow Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ApiName&quot;,&quot;guid&quot;:&quot;column-b612&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;API Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>COLL_FlowRecords_PreSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>What_Function</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FlowButtons_tt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[ {&quot;order&quot;:1 ,&quot;value&quot;: &quot;cfv&quot; , &quot;label&quot; : &quot;Clean Old Flow Versions&quot;}, {&quot;order&quot;:2 ,&quot;value&quot; : &quot;cfi&quot;, &quot;label&quot; : &quot;Clean Flow Interviews&quot;} ]</text>
    </textTemplates>
    <variables>
        <name>COLL_FlowRecords_PreSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowRecord</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Active_Version</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowRecordVersion</objectType>
    </variables>
    <variables>
        <name>INC_FlowRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowRecord</objectType>
    </variables>
    <variables>
        <name>selected_function_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
